ul {
    list-style-type: none;
    width: 68%;
    margin: auto;
    
}

li {
    
    
    padding-right: 32px;
}

#articleTitle {
    color: #2579c7;
    font-weight: 400 ;
}

#commentsLikes {
    background-color: #f39017;
    color: white;
    display: flex;
    height:40px;
    align-items: center;
}


#comments {
    padding-left: 10px;
}

#likes {
    padding-left: 30px;
}